.basket {
    display: flex;
    align-items: center;
}

.total {
    width: 200px;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: right;
    color: #FFFFFF;
    margin-right: 20px;
}